@import "tailwindcss";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    background: var(--bg);
}

a {
    color: unset;
    text-decoration: none;
}

:root {
    --mainColor: #60768e;
    --secondColor: #e7d0c3;
    --bg: #404060;
    --surface: #a0c0e0;
    --accent: #8080a0;
}

.container {
    width: 1000px;
    margin: 0px auto;
}

/*Navbar Start*/

/*Tiptap*/
.tiptap.ProseMirror {
    outline: none;
}

.tiptap.ProseMirror p.is-editor-empty:first-child::before {
    color: #9ca3af;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}
